body {
  font-family: BentonSans; }

h3, h5 {
  font-family: BentonSans; }

.middleDiv {
  margin: 0;
  padding: 0;
  text-align: center; }

.homepage {
  position: relative;
  height: 100vh; }

.homepage .homepageContent {
  position: absolute;
  width: 100vw;
  font-family: Futura;
  text-align: center; }

.homepage .welcome {
  top: 200px;
  font-family: Futura;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.9px;
  text-align: center;
  color: #ffffff; }

.homepage .cwic {
  top: 250px;
  font-family: Futura;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #f4f00c; }

.homepage .mission {
  top: 330px;
  font-family: Futura;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff; }

.homepage img {
  filter: blur(2px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover; }

.eventNavBtn {
  border: none;
  background-color: #fffae7;
  width: 50%;
  height: 60px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
  text-align: center;
  color: #212121; }

#pastBtn {
  background-color: #f7d77d; }

.eventDiv {
  width: 100%;
  height: 200px;
  text-align: center; }
  .eventDiv .eventContent {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }
  .eventDiv img {
    height: 180px; }
  .eventDiv .eventInfo {
    text-align: left;
    background-color: white;
    height: 180px; }
  .eventDiv button {
    background-color: #550a95;
    color: white;
    text-align: center;
    border: none;
    padding-left: 0px;
    width: 120px;
    height: 180px; }

.eventsBackground {
  background-color: #fffae7; }

.teammateDiv .teammateImg {
  width: 140px;
  height: 140px; }

.spaceDiv {
  height: 80px; }

.joinBtn {
  background-color: #550a95;
  color: white;
  text-align: center;
  border: none;
  height: 50px;
  width: 70px; }

.feedbackDiv {
  background-color: #ffeca8; }

.sendBtn {
  border: 2px solid #6b07bf;
  background-color: #ffeca8;
  color: #6b07bf;
  border-radius: 5px;
  width: 180px;
  height: 50px; }

.teammateName {
  font-family: BentonSans;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #333333; }

.teammateDescription {
  font-family: BentonSans;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.5px;
  text-align: center;
  color: #787878; }
