.middleDiv {
  margin: 0;
  padding: 0;
  text-align: center; }

.bg .intro {
  position: absolute;
  width: 100vw;
  top: 200px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  object-fit: contain; }

.joinUsBtn {
  position: absolute;
  font-size: 40px;
  color: #ffffff;
  object-fit: contain; }

.bg img {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover; }

.imageDiv .eventImage {
  width: 140px;
  height: 140px; }

.teammateDiv .teammateImg {
  width: 140px;
  height: 140px; }

.spaceDiv {
  height: 95px; }
